$purple: #9C69E2;
$darkpurple: #7F4CD6;
$lightpurple: rgba(156, 105, 226, .2);
$pink: #F063B8;
$pinklight: rgba(240, 99, 184, 0.15);
$darkblue: #212353;
$darkgray: #4B5D68;
$offwhite: #F9FBFE;
$feat1: #E8F5F6;
$feat2: #EEEBFB;
$feat3: #F7EAF6;
$feat4: #E3F0FA;
$headerfont: 'Roboto', sans-serif;
$bodyfont: 'Nunito', sans-serif;